html{
	height: 100%;
	width : 100%;
}
body{
	width : 100%;
	margin:0px;
	background-image: url("images/handwrite (2).png");
	background-repeat: repeat;
}

@media (min-width : 500px) and (max-width: 1000px){
	body{
		background-color : green;
	}
}

/*header*/
#main-header{
	background-image : url("images/caligrafia (3).jpg");
	background-color : #A9F5A9;
	color: #3B1204;
	width:100%;
	height:80px;
	opacity : 0.9;
	animation-duration: 1s;
	animation-name: slideIn;
	border-bottom : 2px outset;
		
}

@keyframes slideIn{
	from {
		background-color: green;
	}
	
	to{
		background-color: #A9F5A9;
	}
}

@media (min-width : 500px) and (max-width: 1000px){
	main-header{
		background-color : #81DAF5;
		width:100%;
		height:60px;	
	}
}

#h1-div {
	position: absolute;
	background-color: #e9e9e9;
	width: 350px;
	height: 60px;
	margin: 10px 0px 0px 0px;
	opacity: 0.8; 
}

@media (max-width: 500px){

	#h1-div {
		position: absolute;
		background-color: #e9e9e9;
		width: 100%;
		height: 60px;
		margin: 10px 0px 0px 0px;
		opacity: 0.8; 
	}
	
}

#h1-header{
	margin: 5px 0px 0px 20px;
	float: left;
	font-family: Great Vibes;
	font-size: 50px;
	animation-duration: 2s;
	animation-name: runningTittle;
}

@media (max-width: 500px){

	#h1-header{
		margin: 10px 0px 0px 20px;
		float: left;
		font-family: Great Vibes;
		font-size: 40px;
		animation-duration: 2s;
		animation-name: runningTittle;
	}	
}

@media (max-width: 350px){

	#h1-header{
		margin: 15px 0px 0px 20px;
		float: left;
		font-family: Great Vibes;
		font-size: 30px;
		animation-duration: 2s;
		animation-name: runningTittle;
	}	
}

@keyframes runningTittle{
	from{
	opacity: 0;
	transform: translateX(-30px);
	}
	
	to{
	opacity: 1;
	transform: translateX(0);	
	}
	
}

#a-div {
	float: right;
	background-color: #e9e9e9;
	width: 90px;
	height: 60px;
	margin: 15px 10px 0px 0px;
	opacity: 0.8;
}

@media (max-width: 500px){

	#a-div {
		background-color: transparent;
		float: right;
		width: 90px;
		height: 60;
		margin: 15px 10px 0px 0px;
		opacity: 0.8;
	}	
}

#main-header a{
	margin: 17px 20px 0 0;
	float: right;	
	color: black;
	font-family: Oleo Script;
	font-size: 20px;
	text-decoration:none;
	}

@media (max-width: 500px){

	#main-header a{
	margin: 17px 20px 0 0;
	float: right;	
	color: black;
	font-family: Oleo Script;
	font-size: 18px;
	text-decoration:none;
	}
	
}

@media (max-width: 270px){

	#main-header a{
	display: none;	
	margin: 17px 20px 0 0;
	float: right;	
	color: black;
	font-family: Oleo Script;
	font-size: 18px;
	text-decoration:none;
	}
	
}
	
#main-header a:hover{
	color: blue;
}


/*main-section*/
#main-div{
	width:100%;
	position: absolute;
	padding: 5px;
}

/*aside*/
#aside-div{
	width: 19%;	
	float: left;
	margin: 40px 0px 0px 10px;
	font-family: pacifico;
	position: fixed;
}

@media (max-width: 850px){
	#aside-div{
		display:none;
		width: 0%;
	}
}	

#aside-section{
	float: left;
	border: 4px groove #7b672e;
	position: relative;
	background-color: #d8c392;
	font-size: 100%;
}

#aside-nav{
	float: left;
	position: relative;
}

#aside-section ul{
	float: left;
	position: relative;
	padding: 5px 0px 0px 40px;
	line-height: 53px;
	list-style-image: url('images/rsz_1icono.png');
}

#aside-section li{
	height: 50px;
	line-height: 53px;
	position: relative;
	float: left;
	
}



#aside-section li { float: left; position: relative; padding: 0; line-height: 40px; background: #d8c392 url(nav-bg.png) repeat-x 0 0; }
#aside-section li:hover { background-position: 0 -40px; }
#aside-section li a { font-size:20px; display: block; padding: 0px 0px 3px 6px	; color: #5d430d; text-decoration: none; }
#aside-section li a:hover { color: #a3f1d7; }
#aside-section li ul { opacity: 0; position: absolute; left: 0; width: 8em; background: #63867f; list-style-type: none; padding: 0; margin: 0; }
#aside-section li:hover ul { opacity: 1; }
#aside-section li ul li { float: none; position: static; height: 0; line-height: 0; background: none; }
#aside-section li:hover ul li { height: 30px; line-height: 30px; }
#aside-section li ul li a { background: #63867f; position: relative;}
#aside-section li ul li a:hover { background: #d8c392; }


/*main-sections*/
#section-containers{
	float: right;
	width: 78%;
	margin: 40px 10px 0px 0px;
}

@media (max-width: 850px){
	#section-container{
	position: absolute;
	width:98%;			
	margin:10px 0px 0px 0px;
	}
}	

/*section1*/
#section1{
	margin: 0px 10px 10px 0px;
	position: relative;
	background-color:#F5F6CE;
	min-height: 250px;
	border: 2px dashed;
}

#section1 h2{
	margin : 10px 0px 0px 10px;
	float: left;
}


#section1-header{
	margin: 0px;
	background: #CBB684;
	height: 50px;
	border-bottom : 2px dashed; 
}

#section1-header h2{
	font-family: arizonia;
	font-size: 30px;
}

#section1-article{
	padding: 7px;
	text-align: justify;
}

#section1-article p{
	padding: 7px;
	text-align: justify;
	font-family: Oleo script;
}

#section1 button{
	margin : 15px 10px 0px 0px;
	float: right;
}

#section1 p{
	margin: 10px 0px 0px 0px;
}

#img-mario{
	float:left;
	height:180px;
	width: 180px;
	margin: 10px 0px 0px 0px;
}

@media (max-width: 500px){
	
	#img-mario{
	float:left;
	height:130px;
	width: 130px;
	margin: 10px 0px 0px 0px;
	}
}

@media (max-width: 300px){
	
	#img-mario{
	float:left;
	height:100px;
	width: 100px;
	margin: 10px 0px 0px 0px;
}
}

#section2{
	margin: 15px 10px 0px 0px;
	position: relative;
	background-color: #F5F6CE;
	border: 2px dashed;
	min-height: 250px;
}

#section2-header{
	width: 100%;
	background: #CBB684;
	height: 50px;
	border-bottom : 2px dashed; 
}

#section2-header h2{
	font-family: arizonia;
	font-size: 30px;
}

#section2-article p{
	padding: 7px;
	text-align: justify;
	font-family: Oleo script;
}

#section2 p{
	margin: 10px 0px 0px 0px;
}

#section2 h2{
	margin : 10px 0px 0px 10px;
	float: left;
}

#section2 button{
	margin : 15px 10px 0px 0px;
	float: right;
}
#happy-face{
	margin: 0px;
	float:left;
	height: 180px;
	width: 180px;
}

.header{
	text-align : center;
}