html{
	height: 100%;
	width : 100%;
}
body{
	width : 100%;
	margin:0px;
	background-image: url("images/handwrite.png");
	background-repeat: repeat;
}


/*header*/
#main-header{
	position: fixed;
	background-image : url("images/caligrafia (3).jpg");
	color: #3B1204;
	width:100%;
	height:80px;
	padding: 5px;
	margin-top: -80px;
	border-bottom : 2px outset;
		
}


#h1-div {
	position: absolute;
	background-color: #e9e9e9;
	width: 350px;
	height: 60px;
	margin: 10px 0px 0px 0px;
	opacity: 0.8; 
}

@media (max-width: 500px){

	#h1-div {
		position: absolute;
		background-color: #e9e9e9;
		width: 100%;
		height: 60px;
		margin: 10px 0px 0px 0px;
		opacity: 0.8; 
	}
	
}

#h1-header{
	margin: 5px 0px 0px 20px;
	float: left;
	font-family: Great Vibes;
	font-size: 50px;
	animation-duration: 2s;
	animation-name: runningTittle;
}

@media (max-width: 500px){

	#h1-header{
		margin: 10px 0px 0px 20px;
		float: left;
		font-family: Great Vibes;
		font-size: 40px;
		animation-duration: 2s;
		animation-name: runningTittle;
	}	
}

@media (max-width: 350px){

	#h1-header{
		margin: 15px 0px 0px 20px;
		float: left;
		font-family: Great Vibes;
		font-size: 30px;
		animation-duration: 2s;
		animation-name: runningTittle;
	}	
}

@keyframes runningTittle{
	from{
	opacity: 0;
	transform: translateX(-30px);
	}
	
	to{
	opacity: 1;
	transform: translateX(0);	
	}
	
}

#a-div {
	float: right;
	background-color: #e9e9e9;
	width: 90px;
	height: 60px;
	margin: 15px 10px 0px 0px;
	opacity: 0.8;
}

@media (max-width: 500px){

	#a-div {
		background-color: transparent;
		float: right;
		width: 90px;
		margin: 15px 10px 0px 0px;
		opacity: 0.8;
	}	
}

@media(max-width: 375px){
	#a-div {
		display: none;
	}	
}

#main-header #a-div a{
	margin: 17px 20px 0 0;
	float: right;	
	color: black;
	font-family: Oleo Script;
	font-size: 20px;
	text-decoration:none;
	}

@media (max-width: 500px){

	#main-header #a-div a{
	margin: 17px 20px 0 0;
	float: right;	
	color: black;
	font-family: Oleo Script;
	font-size: 18px;
	text-decoration:none;
	}
	
}

@media (max-width: 375px){

	#main-header #a-div a{
	display: none;	
	margin: 17px 20px 0 0;
	float: right;	
	color: black;
	font-family: Oleo Script;
	font-size: 18px;
	text-decoration:none;
	}
	
}
	
#main-header #a-div a:hover{
	color: blue;
}

#menu-mobile{
	float:right;
	width: 40%;
}

#menu-mobile-container {
	display: none;
	
}

@media (max-width: 376px){
	#menu-mobile-container.open {
		display: block;
		width: 80%;
		margin: 9px 10px 0px 0px;
		padding: 0px;
		background-color: #E9E9E9;
		opacity: 0.95;
		position: relative;
		float: right;
		animation: dropDownMenu 2s;
	}

	@keyframes dropDownMenu{
		from {
		transform: translateY(-5px);
		opacity: 0;
		} to {
		transform: translateY(0px);
		opacity: 1;
	}
	}

	#menu-mobile-container.open ul {
		display: block;
		padding: 0px;
		margin: 0px;
		list-style: none;
	}

	#menu-mobile-container.open li {
		height: 30px;
		margin: 0px;
		padding: 5px 0px 0px 0px;
		font-family: Oleo Script;
		text-align: center;
		border : 2px dashed; 
	} 

	#menu-mobile-container.open li a{
		text-decoration:none;
		color: #3B1204;
	}

	#menu-mobile-container.open li a:hover{
		color: #E6AF65;
	}

}
	#menu-mobile-btn{
		display: none;
	}

@media (max-width: 376px){
	#menu-mobile-btn{
		display: block;
		font-family: Oleo Script; 
		font-size: 15px;
		background: url("images/rsz_1icon-512.png") no-repeat;
		width: 40px;
		height: 40px;
		float: right;
		padding: 0px 2px 0px 0px;
		margin: 20px 15px 0px 0px;
		opacity: 0.8;
		border: none;
	}

	#menu-mobile-btn:hover{
		animation: spinReverse 2s;
	}

	@keyframes spinReverse{
		from {
			transform: rotate(0deg);
		} to {
			transform: rotate(-360deg);
		}
	}

	#menu-mobile-btn.open:hover {
		animation: spinAround 2s ;
	}
	@keyframes spinAround{
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}

}


/*main-section*/
#main-div{
	width:100%;
	position: relative;
	margin: 80px 0px 0px 10px;
}

/*aside*/
#aside-div{
	width: 17%;	
	min-height: 400px;
	float: left;
	margin: 40px 0px 0px 10px;
	font-family: pacifico;
	position: fixed;
}

@media (max-width: 850px){
	#aside-div{
		display:none;
		width: 0%;
	}
}	

#aside-section{
	float: left;
	border: 4px groove #7b672e;
	position: relative;
	background-color: #d8c392;
	font-size: 100%;
}

#main-nav{
	float: left;
	position: relative;
	min-height: 400px;
}

#aside-section ul{
	float: left;
	position: relative;
	padding: 5px 0px 0px 40px;
	line-height: 53px;
	list-style-image: url('images/rsz_1icono.png');
}

#aside-section li{
	height: 50px;
	line-height: 53px;
	position: relative;
	float: left;
	
}

/*esta seccion la tome de internet xD */

#aside-section li { float: left; position: relative; padding: 0; line-height: 40px; background: #d8c392 url(nav-bg.png) repeat-x 0 0; }
#aside-section li:hover { background-position: 0 -40px; }
#aside-section li a { font-size:20px; display: block; padding: 0px 0px 3px 6px	; color: #5d430d; text-decoration: none; }
#aside-section li a:hover { color: #a3f1d7; }
#aside-section li ul { opacity: 0; position: absolute; left: 0; width: 8em; background: #63867f; list-style-type: none; padding: 0; margin: 0; }
#aside-section li:hover ul { opacity: 1; }
#aside-section li ul li { float: none; position: static; height: 0; line-height: 0; background: none; }
#aside-section li:hover ul li { height: 30px; line-height: 30px; }
#aside-section li ul li a { background: #63867f; position: relative;}
#aside-section li ul li a:hover { background: #d8c392; }


/*main-sections*/
#section-container{
	float: right;
	width: 80%;
	margin: 40px 10px 0px 0px;
}

@media (max-width: 850px){
	#section-container{
	position: absolute;
	width:98%;			
	margin:40px 0px 0px 0px;
	}
}	

/*section*/
.section{
	margin: 0px 10px 15px 0px;
	position: relative;
	background-color: #F5F6CE;
	border: 2px dashed;
	min-height: 250px;
}

.section button{
	margin : 15px 10px 0px 0px;
	float: right;
	background: url("images/rsz_icon-512.png") no-repeat;	
	width: 30px;
	height: 30px;
	padding: 0px 2px 0px 0px;
	border: none;
	font-family: Oleo Script;
}

.section-image{
	margin: 10px;
	float:left;
	height: 150px;
	width: 150px;
}

@media (max-width: 500px){
	
	.section-image{
	float:left;
	height:130px;
	width: 130px;
	margin: 10px 0px 0px 0px;
	}
}

@media (max-width: 300px){
	
	.section-image{
	float:left;
	height:100px;
	width: 100px;
	margin: 10px 0px 0px 0px;
	}
}

.section-header{
	margin: 0px;
	width: 100%;
	background: #CBB684;
	height: 50px;
	border-bottom : 2px dashed; 
}

.section-header h2{
	margin: 10px 0px 0px 10px;
    float: left;
	font-family: arizonia;
	font-size: 30px;
}

.section p{
	padding: 7px;
	text-align: justify;
	font-family: Oleo script;
}

.header{
	text-align : center;
}